services:
  web:
    build: .
    image: ml-explorer-app
    container_name: ml-explorer-container
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - FLASK_ENV=production
    restart: always
